@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');
@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 16px;
	font-family: 'Golos Text', sans-serif;
	color: $black;
}

input,
button {
	font-family: 'Golos Text', sans-serif;
	padding: 0.7rem 0.5rem;
	border: none;
	outline: none;
	border-radius: $rounded-sm;
	transition: $transition;
}

h1,
h2,
h3 {
	display: inline;
}

input {
  border: 1px solid transparent;

  &:focus {
    border: 1px solid $blue; 
  }
}

button {
	cursor: pointer;
	background-color: $blue;
	color: white;

	&:hover {
		background-color: darken($blue, 15);
	}
}

fieldset {
  display: flex;
  gap: 1rem;
  border: none;
}

code {
  padding: 0.2rem;
  background-color: $gray;
  color: $blue;
}

p {

  &.error {
    font-size: 14px;
    color: $red;
  }
}